/* Open Systems Support */
/*
 * -moz and -webkit are used to define rounded corners 
 * and are part of the CSS3 draft and will not validate 
 * until CSS3 is ratified by W3C.  Because of this, there
 * is no support for IE.
 * 
 * Version 1.0: January 13, 2009
 * 
 */


body {
	background: #fff; 
	font: 0.8em Verdana, sans-serif; 
	color: #333;
	margin: 0px;
	}
a {
	color: #fff;
	text-decoration: none;
	}
img {border: 0px;}
p {text-indent: 1.5em;}

h1 { 
	font: normal 30px Arial;		
	margin-left:10px;
}
h2{
	margin-left:10px;
}

/*canvas definition*/
#main {
	text-align: left;
    margin: 5px;
}

/*top banner*/
#header {
	background-image:url(/payroll/images/spread.gif);
	background-repeat: repeat;
	}
	
/*Rutgers logo top left */
#logo {
	top: 20px; 
	left: 1%; 
	width: 223px;
	height: 76px;
	position: absolute;
	float: right;
	background-image: url(/payroll/images/logo.png);
	}
	
/* the horizontal menu starts here, menu in top right with drop */
#listmenu {
	top: 0; 
	right: 1%; 
	width: 230px;
	height: 17px;
	font-size: .9em;
	color: #fff;
	position: absolute;
	float: right;
	background-image: url(/payroll/images/toplinksbg.png);
	float: left; /*makes the div enclose the list */
	}
#listmenu ul {margin: 0 0 0 -40px;}/* indents ul from edge of container */
#listmenu li:first-child {}
#listmenu li {
	float: left;	/* causes the list to align horizontally instead of stack */
	position: relative; /* positioning context for the absolutely positioned drop-down */
	list-style-type: none;	/* removes the bullet off each list item */
	margin: 0;
	}
#listmenu a {
	margin: 0; 
	padding: 0;
	display:block;
	padding:0 6px; /*creates space each side of menu item's text */
	text-decoration:none;	 /* removes the underlining of the link */
	color:#fff;	/* sets the type color */
	}
#listmenu a:hover {
	color:#f33;
	}
/* the horizontal menu ends here */

/* ********** the drop-down starts here ************** */
#listmenu ul li ul {
	padding: 0;
	margin: 0; /* prevents the TEMP value inheriting from the horiz menu - OK to remove if you remove TEMP above */
	position: absolute; /* positions the drop-down ul in relation to its relatively positioned li parent */
	width: 5em; /*sets the width of the menu - in combo with the li's 100% width, makes the menu stack*/
	left: -1px; /*aligns the drop exactly under the menu */
	z-index: 1;
	background-color: #000;
	}
#listmenu ul li ul li {
	width: 50%; /* makes the list items fill the list container (ul) */
	border-left: 1px solid #000; /*  three sides of each drop-down item */
	border-right: 1px solid #000;
	}
/* make the drop-down display as the menu is rolled over */
#listmenu ul li ul {display: none;} /* conceals the drop-down when menu not hovered */
#listmenu ul li:hover ul {display: block; } /* shows the drop-down when the menu is hovered */

/* END OF LIST-BASED MENU */

/*Search box in top left */
#search {
	top: 30px; 
	right: 1%;
	width: 230px;
	height: 25px;
	position: absolute;
	vertical-align: top;
	text-align: right;
	float: right;
	z-index: 0;
	}
	
/*search text color*/
#gs{
	color: #fff;
	font-size: .9em;
}

/* Links below search box */
#link_line {
	top: 70px;  
	right: 1%;
	width: 230px;
	height: 15px;
	position: absolute;
	float: right;
	font-size: .9em;
	text-align: right;
	}
	
/* Menu bar .. more like a twitterline at the moment*/
#menu {
	padding: 5px;
	margin: 0;
	font: 1.2em Verdana, sans-serif;
	background: #000;
	color: #fff;
	}
	
/*Center Content -- creates the white space for the background see also body{background}*/
#content {
	padding: 0px;
	background: #fff;	
	}
	
/* Box of text on left of page */
#left {
	width: 40%;
	}
	
/* Surrounding div that contains right_top/middle/bottom */
#right_boxes {
	float: right;
    }

/* Second box of three within right_boxes */
#right_middle{
	width:800px;
	padding-bottom: 0px;
	color: #000; 
	margin: auto;
	background: #D6D2C9;
	padding: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	}
#right_middle a:link{
	color: #669;
	font-size: .8em;
}
#right_middle a:visited{
	color: #669;
	font-size: .8em;
}


/*Footer definition*/
#footer {
	background-color: #000;
    color: #fff;
	text-align: center; 
    clear: right;
	position: fixed;
    bottom: 0%;
    width: 100%;
	}

/* --- Page definition ends here --- */
/*------------------------------------------------------------------------------------------------------------------------------ */
/* --- Form starts here  */



#netidLabel {
	display: block;
	color: #797979;
	font: normal 20px Arial;
	margin-left:10px;
	}

#netid { 
	width: 300px;
	font: normal 15px Georgia;
	padding: 5px;
	margin-left:10px;
	color: #949494;
	border: 1px solid #cecece;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	}
#netid:focus {
	background:#F3FAFF url(/payroll-test/images/input_highlight_bg.png) repeat-x scroll center top;
	border-color:#B7C7D3;
	font: normal 50px Georgia;
}
#netid.error { 
	background: #f8dbdb;
	border: 1px solid #e77776;
}
.errortext{
	color: #e46c6e;
	margin-left:10px;
	font: normal 20px Georgia;
}
#netid.success{
	background: #dafde7;
	border-color: #7fffaf;
}
.successtext{
	margin-left:10px;
	font: normal 20px Georgia;
}

#ssnLabel {
	display: block;
	color: #797979;
	font: normal 20px Arial;
	margin-left:10px;
	}
#ssn { 
	width: 300px;
	font: normal 15px Georgia;
	padding: 5px;
	margin-left:10px;
	color: #949494;
	border: 1px solid #cecece;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	}
#ssn:focus {
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	background:#F3FAFF url(/payroll-test/images/input_highlight_bg.png) repeat-x scroll center top;
	border-color:#B7C7D3;
	font: normal 50px Georgia;
	width: 400px;
}
#ssn.error { 
	background: #f8dbdb;
	border: 1px solid #e77776;
}
#ssn.success{
	background: #dafde7;
	border-color: #7fffaf;
}

#typeLabel {
	display: block;
	color: #797979;
	font: normal 20px Arial;
	margin-left:10px;
	}
#type { 
	width: 300px;
	font: normal 15px Georgia;
	padding: 5px;
	margin-left:10px;
	color: #949494;
	border: 1px solid #cecece;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	}
#type:focus {
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	border-color:#B7C7D3;
	font: normal 50px Georgia;
}
#type.error { 
	background: #f8dbdb;
	border: 1px solid #e77776;
}
#type.success{
	background: #dafde7;
	border-color: #7fffaf;
}

#titleLabel {
	display: block;
	color: #797979;
	font: normal 20px Arial;
	margin-left:10px;
	}

#title { 
	width: 300px;
	font: normal 15px Georgia;
	padding: 5px;
	margin-left:10px;
	color: #949494;
	border: 1px solid #cecece;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	}
#title:focus {
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	border-color:#B7C7D3;
	font: normal 50px Georgia;
}
#title.error { 
	background: #f8dbdb;
	border: 1px solid #e77776;
}
#title.success{
	background: #dafde7;
	border-color: #7fffaf;
}

#wageLabel {
	display: block;
	color: #797979;
	font: normal 20px Arial;
	margin-left:10px;
	}
#wage { 
	width: 300px;
	font: normal 15px Georgia;
	padding: 5px;
	margin-left:10px;
	color: #949494;
	border: 1px solid #cecece;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	}
#wage:focus {
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	border-color:#B7C7D3;
	font: normal 50px Georgia;
}
#wage.error { 
	background: #f8dbdb;
	border: 1px solid #e77776;
}
#wage.success{
	background: #dafde7;
	border-color: #7fffaf;
}
#emailLabel {
	display: block;
	color: #797979;
	font: normal 20px Arial;
	margin-left:10px;
	}
#email { 
	width: 300px;
	font: normal 15px Georgia;
	padding: 5px;
	margin-left:10px;
	color: #949494;
	border: 1px solid #cecece;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	}
#email:focus {
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	border-color:#B7C7D3;
	font: normal 50px Georgia;
}
#email.error { 
	background: #f8dbdb;
	border: 1px solid #e77776;
}
#email.success{
	background: #dafde7;
	border-color: #7fffaf;
}

button { 
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background:#87B500 url(/payroll/images/big_button_bg.png) repeat-x scroll center top;
	border-color:#DDDDDD #689300 #689300 #DDDDDD;
	border-style:solid;
	border-width:0 1px 1px 0;
	color:#FFFFFF;
	cursor:pointer;
	font-size:22px;
	height:42px;
	line-height:42px;
	margin:0;
	overflow:visible;
	padding:0 15px;
	text-shadow:1px 1px #719E03;
	margin-top: 5px;
	margin-left:10px;
	}


#empyInfo{
	color: #000; 
	padding: 5px;
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#name{
	text-align: right;
	text-transform: uppercase;	
	font: bold 50px Arial;
}


#empyTitle{
	text-align: right;
	text-transform: uppercase;	
	font: normal 15px Arial;
}

#empyInfo{
	width: 400px;
	color: #000; 
	padding: 5px;
	background:#F3FAFF url(/payroll/images/input_highlight_bg.png) repeat-x scroll center top;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#backButton{
	width: 40px;
	height: 90px;
	margin:auto;
	margin-left: 0px;
	margin-top: 100px;
	position: absolute;
}
#payPeriod{
	padding: 5px;
	width: 600px;
	background: #e4f2ff;
	margin: auto;
	margin-top: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#payPeriodtable{
	margin: auto;
}

#container{
	width: 1000px;
	margin: auto;
	text-align: center;
	height: 300px
}

#timeGrid{
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	float: left;
	width: 700px;
	background: #e4f2ff;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#timeGridTable{
	margin: auto;
	width: 700px;
	border-collapse: collapse;
}

.weeks{
	background: #b9c9fe;
	color: #039;
	padding: 5px;
}
.time{
	background: #f3f9fe;
	padding: 5px;
	width: 100px;
	
}
.total{
	background: #f3f9fe;
	padding: 5px;
	border-top: 1px solid #fff;
}

#periodTotal{
	float: left;
	padding: 10px;
	margin: auto;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
	width: 125px;
	background: #e4f2ff;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#periodTotalTable{
	margin: auto;
	width: 100px;
	border-collapse: collapse;
}
#buttons{
	float: left;
	margin: auto;
	margin-top: 10px;
	width: 75px;
	height: 50px;
	padding: 5px;
	background: #e4f2ff;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#success{
	color: #009900;
	font-size: 30px;
	width: 400px;
	font-weight: strong;
	background: #e4f2ff;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#editHrs, #print{
	padding: 5px;
	margin: auto;
	margin-bottom: 3px;
	width: 60px;
	vertical-align: middle;
	background:#B9C9FE;
	font-size:10px;
	border: 0px;
	text-shadow:1px 1px #719E03;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}





/*-------------------------- Hours Form-----------------------------*/
#payPeriodEndDate{
	padding: 5px;
	width: 300px;
	background: #e4f2ff;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#timeSelectorGrid{
	padding: 10px;
	margin: auto;
	margin-bottom: 50px;
	width: 775px;
	margin-top: 10px;
	background: #e4f2ff;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#timeSelectorGridTable{
	margin: auto;
	width: 600px;
	border-collapse: collapse;
}

#edit_buttons{
	float: left;
	margin: auto;
	margin-top: -6px;
	width: 75px;
	height: 50px;
	padding: 5px;
	background: #E8EDFF;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#assert_error, #entry_error{
	padding: 5px;
	width: 600px;
	background: #F9DBDB;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}


/*----------------------------------------------------------------------------------------*/
#entry_container{
	width: 860px;
	margin: auto;
	text-align: center;
	height: 300px
}

#entry_add_emp{
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	float: left;
	width: 400px;
	height: 300px;
	background: #bccbfe;
	font-size:50px;
	line-height: 50px;
	text-shadow:1px 1px #719E03;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#entry_add_emp table{
	height: 100%;
	width: 100%;
}

#entry_edit_time{
	float: left;
	padding: 10px;
	margin: auto;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
	width: 400px;
	height: 300px;
	vertical-align: middle;
	background:#87B500 url(/payroll/images/big_button_bg.png) repeat-x scroll center top;
	border-color:#DDDDDD #689300 #689300 #DDDDDD;
	border-style:solid;
	border-width:0 1px 1px 0;
	font-size:50px;
	line-height: 50px;
	text-shadow:1px 1px #719E03;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#entry_edit_time table{
	height: 100%;
	width: 100%;
}
