<!--
Filename:     config.example.php
Author:       Rutgers Open System Solutions
Date created: Unknown
Last edited:  Mon Jun 30, 2014
Description:  This is a boilerplate config file for OSS Payroll site.
              First copy this file into a file named 'config.inc.php',
              THEN update the variables listed under 'mysql connection
              information'.
-->
<?php
    # mysql connection information
    $db_host     = '127.0.0.1';
    $db_user     = '<name-of-mysql-user>';
    $db_passwd   = '<password-for-mysql-user>';
    $db_database = '<name-of-database>';
    
    //defaults:
    // UPDATE THIS - jcc:
    // this is the end date that you're configuring here..
    // make sure $ws_day is a Saturday
    //
    // This is a bad hack to work around different variable names
    // in different files. If someone feels like fixing it, go for
    // it.
    // - jmatth
    $year  = $ws_year  = YYYY;
    $day   = $ws_day   = DD;
    $month = $ws_month = MM;
?>
